<div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
    <div class="feed-message" ng-repeat="item in feedback.elements">
        <h4><a ui-sref="templates.productTemplate.element.detail({id: item.id})">{{item.name}}</a></h4>
        <ul>
            <li ng-if="item.expanded" ng-repeat="message in item.validationMessage track by $index">
                <span>{{message}}</span>
            </li>
        </ul>
        <button ng-click="expandMessage(item)" class="btn btn-info btn-xs ng-binding ng-scope">{{item.expanded ? 'Hide' : 'Show'}}</button>
    </div>
</div>
