.content-top {
    padding-bottom: 12px;
}

.al-breadcrumb {
    background: none;
    color: $default-text;
    padding: 0;
    margin: 0;
    padding-top: 11px;
    li {
        font-size: 18px;
        font-weight: $font-normal;

        &:before {
            padding: 0 0 0 8px !important;
        }
    }

    .disabled{
        color: #333333;
        cursor: default;
    }
}
