<div class="form-group">
    <label class="col-sm-4 control-label">{{to.label}} {{::(to.required ? "*" : "")}}</label>
    <div class="col-sm-6">
        <formly-transclude></formly-transclude>
    </div>
</div>
