<div class="repeatSection">
    <div ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
        <div class="content">
            <formly-form fields="fields" model="element" form="form" options="{data: {model: model}}"></formly-form>
            <button type="button" class="close" ng-click="model[options.key].splice($index, 1)" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
        </div>
        <hr>
    </div>
    <p>
        <button type="button" class="btn btn-primary" ng-click="addNew()">Dodaj</button>
    </p>
</div>
