<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <div class="modal-title">
            <h3 class="modal-title">{{isNew ? 'Nowy development' : 'Development'}}</h3>
        </div>
    </div>
    <div class="modal-body" cg-busy="cgBusy">
        <form novalidate class="form-horizontal" name="developmentDatailForm">
            <formly-form model="$ctrl.data" fields="$ctrl.config.fields" form="developmentDatailForm" options="$ctrl.options">
                <div class="form-group">
                    <div class="text-center">
                        <button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()"><i class="ion-chevron-left"></i>Powrót</button>
                        <button type="submit" class="btn btn-primary btn-with-icon" ng-click="save()" ng-if="isNew"><i class="ion-checkmark"></i>Zapisz i dodaj kolejne</button>
                        <button type="submit" class="btn btn-primary btn-with-icon" ng-click="save(true)"><i class="ion-checkmark"></i>Zapisz</button>
                    </div>
                </div>
            </formly-form>
        </form>
    </div>
</div>
