<div class="row">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="{{::$ctrl.listConfig.id}}" ba-panel-class="with-scroll">
            <list model="$ctrl.listModel" config="$ctrl.listConfig.id"></list>
        </div>
    </div>
</div>
