<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title"><span translate="{{::title}}.title"></span> ({{::item.id}})</h4>
    </div>
    <div class="modal-body">
        <preview-from-formly item="item" fields="fields" options="options"></preview-from-formly>
    </div>
</div>
