<div class="modal-content customize-list">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <div class="modal-title">
            <h3>Dostosuj tabelę</h3>
            <span translate="{{::title}}.title"></span>
        </div>
    </div>
    <div class="modal-body" style="display: flex">
        <div class="col-md-6">
            <h4>Wybierz kolumny:</h4>
            <div style="display: flex" ng-repeat="column in ::customize.availableColumns">
                <label class="switcher-container">
                    <input type="checkbox" id="{{::column.id}}" name="{{::column.id}}" ng-model="column.enabled" ng-change="toggleColumn(column)">
                    <div class="switcher primary">
                        <div class="handle-container">
                            <span class="handle handle-on">ON</span>
                            <span class="handle"></span>
                            <span class="handle handle-off">OFF</span>
                        </div>
                    </div>
                </label>
                <span style="line-height: 16px; margin: auto 0; padding-bottom: 8px">{{::column.label}}</span>
            </div>
        </div>
        <div class="task-todo-container col-md-6">
            <h4>Sortuj kolumny:</h4>
            <ul class="todo-list" ui-sortable="sortableOptions" ng-model="customize.columns">
                <li ng-repeat="column in customize.columns">
                    <span>{{::column.label}}</span>
                    <i class="remove-todo ion-ios-close-empty" ng-click="offColumn(column)"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="text-center">
                <button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">
                    <i class="ion-close"></i>
                    <span>Anuluj</span>
                </button>
                <button type="submit" class="btn btn-primary btn-with-icon" ng-click="save()">
                    <i class="ion-checkmark"></i>
                    <span>Zatwierdź</span>
                </button>
            </div>
        </div>
    </div>
</div>
