<label class="switcher-container">
  <input type="checkbox" ng-model="switcherValue" ng-change="switcherChange({ngModel: switcherValue})">
  <div class="switcher" ng-class="::switcherStyle">
    <div class="handle-container">
      <span class="handle handle-on">ON</span>
      <span class="handle"></span>
      <span class="handle handle-off">OFF</span>
    </div>
  </div>
</label>
