<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <div class="modal-title">
            <h3 class="modal-title">Mail</h3>
        </div>
    </div>
    <div class="modal-body">
        <pre ng-bind="$ctrl.orderMail"></pre>
        <!--<text-angular ng-model="$ctrl.orderMail"></text-angular>-->
    </div>
</div>
