<span class="close-preview" ng-click="$parent.$dismiss($event)" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></span>
<div class="modal-dialog {{size ? 'modal-' + size : ''}}">
    <div class="modal-content" style="padding: 4px;" uib-modal-transclude></div>
</div>
