<table class="table">
    <thead>
    <tr>
        <th>Ilość</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in ::item.data.orderPositions">
        <td>{{item.count}}</td>
    </tr>
    </tbody>
</table>
