<div ng-repeat="item in ::item.data.machineWorkers">
    <a ui-sref="resources.worker.element.detail({id: item.worker.id})">
        {{::(item.worker.firstName + " " + item.worker.secondName)}}
    </a>
</div>
