.table-panel {
    height: 295px;
}

.erp-table {
    th {
        line-height: 34px;
    }
}

table.previewTable {
    width: 100%;
    tr {
        &:hover{
            background: #E9F5F4
        }

        th, td {
            padding: 10px;
            line-height: 1.45;
            vertical-align: top;
            border-top: 1px solid #eee;
        }
        th {
            min-width: 25%;
            text-align: right;
            border-right: 1px solid #eee;
        }

        td {
            width: 70%;
            &:last-child {
                width: 1px;
            }
        }
    }
    .horizontal-textarea {
        max-height: 150px;
        overflow: overlay;
        & > pre {
            margin: 0;
            border-radius: 0;
            white-space: pre-wrap;
            word-wrap: break-word;
            background-color: transparent;
        }
    }
}

table.nestedTable {
    width: 100%;
    max-width: 100%;
    border: 1px solid $primary;
    & > thead {
        th {
            padding: 8px;
            background-color: rgb(248, 248, 248);
        }
    }
    & > tbody {
        td {
            padding: 8px;
            border-top: 1px solid gainsboro;
        }
    }
}

@media print {
    table {
        border: 1px solid black;
    }
}
