<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                {{$ctrl.listConfig.id + '.list' | translate}}
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li ng-repeat="element in $ctrl.typeListModel.elements" ui-sref=".({typeId: element.id})" ui-sref-active="active">
                        <a href>{{element.data.name}}</a>
                    </li>
                </ul>
                <div style="border: 1px solid #63BBB2; padding-top: 4px">
                    <list model="$ctrl.listModel" config="$ctrl.listConfig.id"></list>
                </div>
            </div>
        </div>
    </div>
</div>
