<div id="baseElement">
    <div class="pull-right">
        <div><i>Utworzony: <b>{{$ctrl.model.data.creationDate | date:"medium"}}</b></i></div>
        <div><i>Edytowany: <b>{{$ctrl.model.data.lastModificationDate | date:"medium"}}</b></i></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="row">
                    <div class="col-md-10">
                        <h2>{{($ctrl.model.name + '.element.title') | translate:$ctrl.model.data}}</h2>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group pull-right" dropdown-append-to-body uib-dropdown>
                            <button class="btn-with-icon btn btn-info" type=button ng-click="$ctrl.reset()"><i class=ion-refresh></i>Reset</button>
                            <button class="btn btn-info" type=button uib-dropdown-toggle><span class=caret></span></button>
                            <ul uib-dropdown-menu class="dropdown-menu-right">
                                <li><a class=btn-with-icon href ng-click="$ctrl.print()"><i class=ion-printer></i>Drukuj</a>
                                <li><a class=btn-with-icon href ng-click="$ctrl.modalRemove()"><i class=ion-trash-b></i>Usuń</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item" ng-repeat="state in ::$ctrl.elementState.children" ui-sref-active="active">
                            <a class="nav-link" ui-sref="{{::state.name}}">{{::state.title}}</a>
                        </li>
                    </ul>
                    <ui-view/>
                </div>
            </div>
        </div>
    </div>
</div>
