<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <div class="modal-title">
            <h3 class="modal-title" translate="{{::$ctrl.modalTitle}}" translate-values="$ctrl.model.data"></h3>
            <!--<span>({{::$ctrl.model.id}})</span>-->
        </div>
    </div>
    <div class="modal-body" ng-include="$ctrl.modalInclude"></div>
</div>
