<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <div class="modal-title">
            <h3 translate="{{::($ctrl.model.rService.name) + '.remove.title'}}" translate-values="$ctrl.model.data"></h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="callout callout-danger">
            <h4>Czy jesteś pewny?</h4>
            <div one-bind-html-compile="$ctrl.listConfig.removeConsequencesTpl"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">
            <i class="ion-chevron-left"></i>Powrót
        </button>
        <button type="submit" class="btn btn-danger btn-with-icon" ng-click="$close()">
            <i class="ion-checkmark"></i>Usuń
        </button>
    </div>
</div>
