<div class="actionButtons">
    <button class="btn-with-icon btn btn-primary" type=button ng-click="$ctrl.save()"><i class=ion-plus></i>Zapisz</button>
</div>
<div cg-busy="$ctrl.cgBusy" style="padding-bottom: 1px;">
    <form novalidate class="form-horizontal" name="$ctrl.detailForm">
        <formly-form model="$ctrl.model.tempData" fields="$ctrl.config.fields" form="$ctrl.detailForm" options="$ctrl.config.options"></formly-form>
    </form>
</div>
