<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <div class="modal-title">
            <h3 class="modal-title" translate="{{::$ctrl.modalTitle}}" translate-values="$ctrl.model.data"></h3>
        </div>
    </div>
    <div class="modal-body" cg-busy="$ctrl.cgBusy">
        <form novalidate class="form-horizontal" name="$ctrl.detailForm">
            <formly-form model="$ctrl.model.tempData" fields="$ctrl.config.fields" form="$ctrl.detailForm" options="$ctrl.config.options"></formly-form>
        </form>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="text-center">
                <button type="button" class="btn btn-default btn-with-icon" ng-click="$dismiss()">
                    <i class="ion-chevron-left"></i>
                    <span>Powrót</span>
                </button>
                <button type="submit" class="btn btn-primary btn-with-icon" ng-click="$ctrl.save($close)">
                    <i class="ion-checkmark"></i>
                    <span>Zapisz i wyjdź</span>
                </button>
                <button type="submit" class="btn btn-primary btn-with-icon" ng-click="$ctrl.saveAndClean()">
                    <i class="ion-checkmark"></i>
                    <span>Zapisz i dodaj kolejne</span>
                </button>
                <button type="submit" class="btn btn-primary btn-with-icon" ng-click="$ctrl.saveAndGo()">
                    <i class="ion-checkmark"></i>
                    <span>Zapisz i przejdź</span>
                </button>
            </div>
        </div>
    </div>
</div>
