<div class="ba-wizard">
    <div class="ba-wizard-navigation-container">
        <div ng-repeat="t in $baWizardController.tabs"
             class="ba-wizard-navigation {{$baWizardController.tabNum == $index ? 'active' : ''}}">
            {{t.title}}
        </div>
    </div>

    <div class="progress ba-wizard-progress">
        <div class="progress-bar progress-bar-danger active" role="progressbar"
             aria-valuemin="0" aria-valuemax="100" ng-style="{width: $baWizardController.progress + '%'}">
        </div>
    </div>

    <div class="steps" ng-transclude></div>

    <nav>
        <ul class="pager ba-wizard-pager">
            <li class="previous">
                <button ng-hide="$baWizardController.isFirstTab()" ng-click="$baWizardController.previousTab()"
                        type="button" class="btn btn-default btn-with-icon">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span>poprzedni</span>
                </button>
            </li>
            <li class="next">
                <button ng-hide="$baWizardController.isLastTab()" ng-click="$baWizardController.nextTab()" type="button"
                        class="btn btn-default btn-with-icon">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    <span>następny</span>
                </button>
            </li>
        </ul>
    </nav>
</div>
