<!DOCTYPE html>
<html lang="en" ng-app="JangraERP">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic'
          rel='stylesheet' type='text/css'>

    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">

    <!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <!-- endinject -->
    <!-- endbuild -->

    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
        <div class="al-content">
            <breadcrumb-of-state></breadcrumb-of-state>
            <div ui-view autoscroll="true" autoscroll-body-top></div>
        </div>
    </div>

    <footer class="al-footer clearfix">
        <div class="al-footer-main clearfix">
            <div class="al-copy">{{title}} {{year}}</div>
        </div>
    </footer>

    <back-top></back-top>
</main>

<div id="preloader" ng-show="!$pageFinishedLoading">
    <div></div>
</div>

<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endinject -->
<!-- endbuild -->

<!-- build:js js/main.js -->
<!-- inject:js -->
<!-- endinject -->
<!-- endbuild -->
</body>
</html>
