@media print {
    ba-sidebar, msg-center, .listControls {
        display: none;
    }

    .al-main {
        margin: 0 !important;
        width: 100%;
    }

    a[href]:after {
        content: '';
    }
}
