<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <div class="modal-title">
            <h3>{{::$ctrl.title}}</h3>
        </div>
    </div>
    <div class="modal-body">
        <ba-wizard>
            <ba-wizard-step title="Postawowe" form="$ctrl.wzForm">
                <form novalidate class="form-horizontal" name="$ctrl.dispositionForm">
                    <formly-form model="$ctrl.model" fields="$ctrl.config.fields" form="$ctrl.wzForm"
                                 options="$ctrl.config.options"></formly-form>
                </form>
            </ba-wizard-step>
            <ba-wizard-step title="Produkty">
                <list model="$ctrl.productListModel" config="'ProductByCode'" data="$ctrl.listData"></list>
            </ba-wizard-step>
            <ba-wizard-step title="Podsumowanie">
                <div class="callout callout-info" style="margin-bottom: 15px;">
                    <button type="button" class="btn btn-default btn-with-icon" ng-click="$ctrl.generate()">
                        <i class=ion-ios-cloud-download-outline></i>
                        <span>Generuj i pobierz dokument</span>
                    </button>
                </div>
            </ba-wizard-step>
        </ba-wizard>
    </div>
</div>
